# Archivos de instalación de kernel y dependencias R
.RData
.Rhistory
.Rproj.user/
.Rproj
.Rbuildignore
.Renviron
.Rprofile
.Rprofile.site
.Rinstignore
.Rdignore
.Rcheck/
.Rtable
.Rproj.user/
.github/copilot-instructions.md
